form#editor {
    width: 30px;
    margin: 0px;
    padding: 0px;
}

form#editor label, form#editor input[type='text'] {
    display:block;
}

form#editor #editor-buttons{
    border: none;
    text-align:right;
}

form#edito textarea, form#editor input[type='text'] {
    width:90%;
    margin-bottom: 2em; 
}

form#editor textarea {
    height: 10em;
}

form#comment-form {
    margin-top: 2em;
    padding-top: 0.7em;
    border-top: 1px solid grey;
}
form#comment-form label, form#comment-form input[type='submit']{
    padding-top: 0.7em;
    display: block;
}

#images {
    display: inline-flex;
    flex-wrap: wrap;
}

#images img {
    /* display: inline-block; */
    display: flex;
    margin: auto;
    height: 200px;
    width: 200px;
}
#admin-navigation a{
    display: inline-block;
}

#admin-navigation a[href='admin.php?log=out']{
    margin-left: 700px;
    /* text-align: right; */
}